
.titleModalInformative{
    font-size:30px;
    color:#777676;
    margin-left:15px;
   
}

.contentModalInformative{
    font-size:16px;
    line-height : 25px;
    color:#525252;
    text-align:justify;
}